body {
    margin: 0px;
    text-align: center;
}

img {
    background-color: #e4f9f5;
}

.top-countainer {
    position: relative;
    padding-top: 100px;
    background-color: #e4f9f5;
}

.midd-countainer {
    display: inline-block;
    margin: 100px, 20px, 100px, 20px;
}

p {
    display: inline-block;
    margin: 100px, 20px, 100px, 20px;
}

.caminata {
    text-align: center;
    background-image: url(../img/caminata.jpg);
    background-position: center center;
    height: 100vh;
    min-height: 600px;
}

.caminata-text {
    padding: 350px 0px 350px 0px;
    color: seashell;
}